# IGNORE ENVIRONMENT FILES
.dev-assets
.env
ddev-wp-setup-script
log
node_modules
vendor
dist

# IGNORE WORDPRESS CORE FILES
wp-admin
wp-content/*
wp-includes
.htaccess
/index.php
license.txt
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config-ddev.php
wp-config-sample.php
wp-config.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php

# IGNORE WORDPRESS PLUGINS & THEMES FILES BY DEFAULT
# !wp-content/mu-plugins/
# !wp-content/plugins/
# !wp-content/themes/
# wp-content/plugins/*
# wp-content/themes/*

# THEMES AND PLUGINS TO NOT IGNORE
!wp-content/themes/serc-2025
!wp-content/mu-plugins/*

# MISCELLANEOUS
.DS_Store