@theme {
  --font-oswald: "Oswald", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-inter: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --font-heading: var(--font-oswald);
  --font-sans: var(--font-inter);

  --container-*: initial;
  --container-width: 1230px;

  --color-*: initial;

  --color-white: #ffffff;
  --color-black: #111314;
  --color-sand: #a69181;
  --color-forest: #0b4039;
  --color-royale: #061f3d;
  --color-warning: #fbb637;
  --color-brown: #483323;

  --color-brand-light: #fdf3f3;
  --color-brand: #a52a3d;
  --color-brand-hover: #8b2639;
  --color-brand-dark: #751625;

  --color-light-main: #ffffff;
  --color-light-secondary: #faf9f9;
  --color-light-tertiary: #f4f3f3;

  --color-dark-main: #111314;
  --color-dark-secondary: #393e40;
  --color-dark-tertiary: #40484a;

  --border-subtle: #dcdcdc;
  --border-normal: #bdbdbd;
  --border-strong: #989898;

  --color-light-surface-strong: #111314;
  --color-light-surface-muted: #40484a;
  --color-light-surface-normal: #485256;
  --color-light-surface-subtle: #546166;
  --color-light-surface-disabled: #627378;

  --color-dark-surface-strong: #ffffff;
  --color-dark-surface-muted: #f3f3f3;
  --color-dark-surface-normal: #dcdcdc;
  --color-dark-surface-subtle: #bdbdbd;
  --color-dark-surface-disabled: #989898;

  --color-success-light: #defff5;
  --color-success-medium: #4fe2c6;
  --color-success: #077e6d;

  --color-error-light: #ffe3dd;
  --color-error-medium: #ffa796;
  --color-error: #e52600;

  --color-alert-light: #feefc7;
  --color-alert-medium: #fcc64d;
  --color-alert: #b85b09;

  --color-info-light: #e2ebfd;
  --color-info-medium: #83b4f6;
  --color-info: #0c54bd;
}
