@layer components {
  .hero {
    @apply relative flex flex-col gap-14 
    justify-end lg:justify-center
    bg-light-tertiary text-dark-main 
    py-12 lg:py-14 
    min-h-[15rem] lg:min-h-[22rem]
    overflow-hidden;
  }
  .hero--inverted {
    @apply bg-dark-main text-white;
  }
  .hero--with-image {
    @apply before:absolute before:top-0 before:left-0 before:inset-0 before:z-10 
    before:bg-gradient-to-b
      before:from-transparent 
        before:to-black/42 
    lg:before:bg-gradient-to-l
      lg:before:from-transparent lg:before:from-2% 
        lg:before:to-black/42 lg:before:to-67%;

    img {
      @apply absolute top-0 left-0 w-full h-full object-cover object-top z-0;
    }

    & > *:not(img) {
      @apply relative z-20;
    }
  }
}
