@layer components {
  .hero {
    @apply relative flex flex-col gap-14 
    justify-end lg:justify-start
    bg-light-tertiary text-dark-main 
    pt-6 lg:pt-10 
    pb-12 lg:pb-15
    min-h-[15rem] lg:min-h-[24rem]
    overflow-hidden;
  }
  .hero-title {
    @apply text-h1;
  }
  .hero-title-small {
    @apply text-h2;
  }
  .hero-subtitle {
    @apply text-h4 mt-6;
  }
  .hero-title .hero-image {
    @apply block w-full;
    .hero--with-bg-image & {
      @apply border border-subtle;
    }
  }
  .hero-bg-image {
    @apply absolute top-0 left-0 w-full h-full object-cover object-center z-0;
    .hero--blur-bg & {
      @apply blur-sm;
    }
  }
  .hero.hero--inverted {
    @apply bg-dark-main text-white;
  }
  .hero.hero--center-y {
    @apply lg:justify-center lg:pt-28 lg:pb-32;
  }
  .hero.hero--with-bg-image {
    @apply before:absolute before:top-0 before:left-0 before:inset-0 before:z-10 
    before:bg-gradient-to-b
      before:from-transparent 
        before:to-black/42 
    lg:before:bg-gradient-to-l
      lg:before:from-transparent lg:before:from-2% 
        lg:before:to-black/42 lg:before:to-67%;

    & > *:not(img) {
      @apply relative z-20;
    }
  }
}
