@theme {
  --font-oswald: "Oswald", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-inter: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --font-heading: var(--font-oswald);
  --font-sans: var(--font-inter);

  --color-*: initial;
  --color-red-50: #fdf3f3;
  --color-red-100: #fbe9e9;
  --color-red-200: #f7d4d5;
  --color-red-300: #f0b1b2;
  --color-red-400: #e88484;
  --color-red-500: #d58663;
  --color-red-600: #c5394a;
  --color-red-700: #a52a3d;
  --color-red-800: #8b2639;
  --color-red-900: #751625;
  --color-red-950: #56121d;

  --color-gray-50: #f5f6f6;
  --color-gray-100: #e4e9e9;
  --color-gray-200: #ccd4d5;
  --color-gray-300: #a9b5b7;
  --color-gray-400: #7f8e92;
  --color-gray-500: #627378;
  --color-gray-600: #546166;
  --color-gray-700: #485256;
  --color-gray-800: #40484a;
  --color-gray-900: #393e40;
  --color-gray-950: #111314;

  --color-neutral-50: #f6f6f6;
  --color-neutral-100: #e7e7e7;
  --color-neutral-200: #d1d1d1;
  --color-neutral-300: #b0b0b0;
  --color-neutral-400: #888888;
  --color-neutral-500: #6d6d6d;
  --color-neutral-600: #5d5d5d;
  --color-neutral-700: #4f4f4f;
  --color-neutral-800: #454545;
  --color-neutral-900: #3d3d3d;
  --color-neutral-950: #171717;

  --color-warm-neutral-50: #f8f8f8;
  --color-warm-neutral-100: #f3f3f3;
  --color-warm-neutral-200: #dcdcdc;
  --color-warm-neutral-300: #bdbdbd;
  --color-warm-neutral-400: #9b9b9b;
  --color-warm-neutral-500: #7c7c7c;
  --color-warm-neutral-600: #656565;
  --color-warm-neutral-700: #525252;
  --color-warm-neutral-800: #464646;
  --color-warm-neutral-900: #3d3d3d;
  --color-warm-neutral-950: #292929;

  --color-sand-50: #f5f4f1;
  --color-sand-100: #e6e1db;
  --color-sand-200: #cec5ba;
  --color-sand-300: #b2a192;
  --color-sand-400: #a69181;
  --color-sand-500: #b78465;
  --color-sand-600: #796055;
  --color-sand-700: #624d46;
  --color-sand-800: #54423f;
  --color-sand-900: #443839;
  --color-sand-950: #291f1f;

  --color-mint-50: #effefa;
  --color-mint-100: #c8fff6;
  --color-mint-200: #91fee2;
  --color-mint-300: #53f5d2;
  --color-mint-400: #21e6bc;
  --color-mint-500: #07c5a4;
  --color-mint-600: #029897;
  --color-mint-700: #077e6d;
  --color-mint-800: #064b58;
  --color-mint-900: #004039;
  --color-mint-950: #013222;

  --color-orange-50: #fef5ee;
  --color-orange-100: #fee9d6;
  --color-orange-200: #fbcbad;
  --color-orange-300: #f9ac78;
  --color-orange-400: #f57542;
  --color-orange-500: #e25c1e;
  --color-orange-600: #e34310;
  --color-orange-700: #c63012;
  --color-orange-800: #962816;
  --color-orange-900: #792415;
  --color-orange-950: #4f1009;

  --color-yellow-50: #fffaeb;
  --color-yellow-100: #fef7c7;
  --color-yellow-200: #fddc8a;
  --color-yellow-300: #fbc64d;
  --color-yellow-400: #ffb637;
  --color-yellow-500: #f58d0b;
  --color-yellow-600: #b96806;
  --color-yellow-700: #8d4709;
  --color-yellow-800: #92360e;
  --color-yellow-900: #782d0d;
  --color-yellow-950: #451503;

  --color-blue-50: #f1f6fe;
  --color-blue-100: #e2ebfd;
  --color-blue-200: #bddcf6;
  --color-blue-300: #83b4f6;
  --color-blue-400: #428bde;
  --color-blue-500: #196fde;
  --color-blue-600: #0c54bd;
  --color-blue-700: #084399;
  --color-blue-800: #0d3a7f;
  --color-blue-900: #113369;
  --color-blue-950: #061f3d;

  --color-white: #ffffff;
  --color-black: #000000;

  --color-brand: var(--color-red-700);
  --color-brand-light: var(--color-red-50);
  --color-brand-hover: var(--color-red-800);
  --color-brand-dark: var(--color-red-900);

  --color-success: var(--color-mint-600);
  --color-success-light: var(--color-mint-100);

  --color-error: var(--color-red-800);
  --color-error-light: var(--color-orange-100);

  --color-alert: var(--color-yellow-600);
  --color-alert-light: var(--color-yellow-100);

  --color-info: var(--color-blue-600);
  --color-info-light: var(--color-blue-100);

  --color-light-main: var(--color-white);
  --color-light-secondary: var(--color-warm-neutral-50);
  --color-light-tertiary: var(--color-warm-neutral-100);

  --color-dark-main: var(--color-gray-950);
  --color-dark-secondary: var(--color-gray-900);
  --color-dark-tertiary: var(--color-gray-800);

  --color-light-surface-strong: var(--color-gray-950);
  --color-light-surface-muted: var(--color-gray-800);
  --color-light-surface-normal: var(--color-gray-700);
  --color-light-surface-subtle: var(--color-gray-600);
  --color-light-surface-disabled: var(--color-gray-500);

  --color-dark-surface-strong: var(--color-white);
  --color-dark-surface-muted: var(--color-warm-neutral-50);
  --color-dark-surface-normal: var(--color-warm-neutral-100);
  --color-dark-surface-subtle: var(--color-warm-neutral-200);
  --color-dark-surface-disabled: var(--color-warm-neutral-300);
}

@utility border-subtle {
  border-color: var(--color-warm-neutral-200);
}
@utility border-normal {
  border-color: var(--color-warm-neutral-300);
}
@utility border-strong {
  border-color: var(--color-warm-neutral-400);
}
