@utility container {
  @apply w-full max-w-[calc(var(--container-width)+3rem)] mx-auto px-6;
}
@utility translate-center {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}
@utility focus-ring {
  @apply outline-1 outline-dotted outline-offset-4 outline-dark-main/20;
}
@utility border-subtle {
  border-color: var(--border-subtle);
}
@utility border-normal {
  border-color: var(--border-normal);
}
@utility border-strong {
  border-color: var(--border-strong);
}
@utility text-h1 {
  @apply font-oswald text-5xl lg:text-[4rem] leading-[1.25] font-medium uppercase;
}
@utility text-h2 {
  @apply font-oswald text-4xl lg:text-5xl leading-[1.333] uppercase font-medium;
}
@utility text-h3 {
  @apply font-inter text-[1.75rem] lg:text-[2rem] leading-[1.125] font-medium;
}
@utility text-h4 {
  @apply font-inter text-2xl leading-[1.5] font-medium;
}
@utility text-h5 {
  @apply font-inter text-xl leading-[1.4] font-semibold;
}
@utility text-h6 {
  @apply font-inter text-base leading-[1.5] font-semibold;
}
@utility text-title-1 {
  @apply font-oswald text-[2rem] lg:text-[2.5rem] leading-[1.4] uppercase font-medium;
}
@utility text-title-2 {
  @apply font-oswald text-2xl lg:text-[2rem] leading-[1.5] uppercase font-semibold;
}
@utility body-lg {
  @apply text-lg lg:text-xl leading-7 lg:leading-8;
}
@utility body-base {
  @apply text-base leading-6;
}
@utility body-sm {
  @apply text-sm leading-5;
}
@utility label-lg {
  @apply text-lg lg:text-xl font-medium leading-none;
}
@utility label-base {
  @apply text-base font-normal leading-none;
}
@utility label-sm {
  @apply text-sm font-medium leading-none;
}
